<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Portfolio - Aakash Kumar{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  </head>
  <body style="background-image: url('{% static 'core/images/bg2.jpg' %}');">

    <div class="hero">
      {% block hero %}
      {% endblock hero %}
    </div>

    {% block about %}
    {% endblock about %}


    {% block project %}
    {% endblock project %}

    {% block social %}
    {% endblock social %}

    <footer>
      <p>&copy; 2025 Aakash Kumar. All rights reserved.</p>
    </footer>

  </body>
</html>
